* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a {
  color: inherit;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

body {}

pre {
  font-family: inherit;
  white-space: pre-wrap;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {}

#root {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .card {
    padding: 20px;
    display: flex;
    align-items: stretch;
    gap: 15px;
    justify-content: flex-start;

    .image {
      max-width: 200px;
      overflow: hidden;

      img {}
    }
  }

}

.image--main {
  max-width: 500px;
}

.images_row {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 200px;

  img {
    cursor: pointer;
    border: 1px solid black;
  }
}